/*//handles width and padding all in the same element to complete percentage*/
*{border-sizing:border-box; -moz-border-sizing:border-box; -webkit-border-sizing:border-box;}

.row{width:1000px; max-width:100%; min-width:768px; margin:0 auto;}
.row .row{width:auto; max-width:none; min-width:0; margin:0 -15px}
.column, .columns{float:left; min-height:1px; padding:0 15px; position:relative;}
[class*="column"] + [class*="column"]:last-child{float: right;}
[class*="column"] + [class*="column"].end{flloat:left;}

/* Nicolas Gallagher's micro clearfix*/
.row:before, .row:after, .clearfix:before, clearfix:after,{content:" "; display:table; }
.row:after, .clearfix:after{clear:both;}
.row, .clearfix{zoom:1;}

/*since there are 12 columns you can get the results of width by dividing columns/totalAmountofColumns*/

.row .one{width:8.33%}
.row .two{width:16.66%}
.row .three{width:25%}
.row .four{width:33.33%}
.row .five{width:41.66%}
.row .six{width:50%}
.row .seven{width:58.33%}
.row .eight{width:66.66%}
.row .nine{width:75%}
.row .ten{width:83.33%}
.row .eleven{width:91.66%}
.row .twelve{width:100%}
@media only screen and (max-width:767px){
	.row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
     
    .column, .columns { width: auto !important; float: none;  }
    .column:last-child, .columns:last-child { float: none; }
    [class*="column"] + [class*="column"]:last-child { float: none; }
     
    .column:before, .columns:before, .column:after, .columns:after { content:""; display:table; }
    .column:after, .columns:after { clear: both; }


}
/*A row with 3 equally sized columns*/
/*<div class="row">
	<div class="four columns">
		 <div class="row">
                <div class="three columns">
                    ...
                </div>
                <div class="nine columns">
                    ...
                </div>
            </div>
	</div>
	<div class="four columns">

	</div>
	<div class="four columns">

	</div>
</div>*/